@import "base"

html, body
  font-family: "Helvetica Neue", Helvetica, Arial
  height: 100%
  overflow: hidden

label.link
  cursor: pointer
  text-decoration: underline
  color: #04F

/* ----------------------------------------------------------------------------
/* Forms

input[type=text], input[type=password]
  @include adjust-font-size-to($base-font-size)
  padding: 0


/* ----------------------------------------------------------------------------
/* Login

#login
  display: block
  width: 500px
  margin: 100px auto

  h1
    text-align: center

  input, label
    display: block

/* ----------------------------------------------------------------------------
/* Admin

#menu
  height: 60px
  background: #000
  position: relative
  z-index: 10

#page_html
  display: none

#page_iframe
  width: 100%
  height: 100%

#app_loading
  width: 100%
  height: 100%
  background: #000
  position: absolute
  top: 60px

#app_wysihtml5_editor, .wysihtml5-sandbox
  position: absolute
  box-sizing: border-box
  overflow: visible
  border: 0

#app_wysihtml5_editor
  z-index: 1

.wysihtml5-sandbox
  z-index: 2
