/* line 17, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p374@xpath/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 3, ../sass/application.sass */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  height: 100%;
  overflow: hidden;
}

/* line 8, ../sass/application.sass */
label.link {
  cursor: pointer;
  text-decoration: underline;
  color: #0044ff;
}

/* ---------------------------------------------------------------------------- */
/* Forms */
/* line 16, ../sass/application.sass */
input[type=text], input[type=password] {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0;
}

/* ---------------------------------------------------------------------------- */
/* Login */
/* line 24, ../sass/application.sass */
#login {
  display: block;
  width: 500px;
  margin: 100px auto;
}
/* line 29, ../sass/application.sass */
#login h1 {
  text-align: center;
}
/* line 32, ../sass/application.sass */
#login input, #login label {
  display: block;
}

/* ---------------------------------------------------------------------------- */
/* Admin */
/* line 38, ../sass/application.sass */
#menu {
  height: 60px;
  background: black;
  position: relative;
  z-index: 10;
}

/* line 44, ../sass/application.sass */
#page_html {
  display: none;
}

/* line 47, ../sass/application.sass */
#page_iframe {
  width: 100%;
  height: 100%;
}

/* line 51, ../sass/application.sass */
#app_loading {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 60px;
}

/* line 58, ../sass/application.sass */
#app_wysihtml5_editor, .wysihtml5-sandbox {
  position: absolute;
  box-sizing: border-box;
  overflow: visible;
  border: 0;
}

/* line 64, ../sass/application.sass */
#app_wysihtml5_editor {
  z-index: 1;
}

/* line 67, ../sass/application.sass */
.wysihtml5-sandbox {
  z-index: 2;
}
